<h1>User info</h1>

<div class="col-8">

  <div class="mb-4">
    <%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg"%>
  </div>

  <div class="pt-2 pb-2 border-top font-weight-bold">
    name  :  <%= user.name %>
  </div>

  <div class="pt-2 border-top font-weight-bold">
    introduction  :  <%= user.introduction %>
  </div>

  <% if user == current_user %>
    <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary w-100 mb-3 mt-3' do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <%= link_to user_path(current_user), class: 'btn btn-outline-secondary w-100 mb-3 mt-3' do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>

</div>

<div class="col-4"></div>