<div class="col-4 mx-auto">
<h1>User info</h1>

<%= form_with model:@user, url: user_path(@user), local:true do |f| %>

  <div class="mt-5"><label for="inputName">Name</label></div>
  <%= f.text_field :name, autofocus: true, id:"inputName", class:"w-100", placeholder:"名前"%>


  <div class="mt-5"><label for="inputImage">image</label></div>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

  <div class="mt-5"><label for="inputIntroduction">introduction</label></div>
  <%= f.text_area :introduction, id:"inputIntroduction", class:"w-100", placeholder:"紹介文"%>


  <div>
    <%= f.submit 'Update User', class: "btn btn-secondary mt-3" %>
  </div>

<% end %>

</div>