<div class="col-4 mx-auto">

  <h1>User info</h1>

  <% if @user.errors.any? %>
    <div id="error_explanation">
        <h3><%= @user.errors.count %> errors prohibited this book from being saved:</h3>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
  <% end %>

  <%= form_with model:@user, url: user_path(@user), method: :patch, local:true do |f| %>

    <div class="mt-5"><label for="inputName">Name</label></div>
    <%= f.text_field :name, autofocus: true, id:"inputName", class:"w-100", placeholder:"名前"%>


    <div class="mt-5"><label for="inputImage">Image</label></div>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

    <div class="mt-5"><label for="inputIntroduction">Introduction</label></div>
    <%= f.text_area :introduction, id:"inputIntroduction", class:"w-100", placeholder:"紹介文"%>


    <div>
      <%= f.submit 'Update User', class: "btn btn-secondary mt-3" %>
    </div>

  <% end %>

</div>