<h1>Editing Book</h1>

<%= form_with model:@book, url: book_update_path(@book), local:true do |f| %>

  <div>
    <label for="inputTitle">Title</label>
  </div>
  <div>
    <%= f.text_field :title, id:"inputTitle", placeholder:"本のタイトル"%>
  </div>

  <div>
    <label for="inputBody">Opinion</label>
  </div>
  <div>
    <%= f.text_area :body, id:"inputBody", placeholder:"本の感想"%>
  </div>

  <div>
    <%= f.submit "Edit Book" %>
  </div>

 <% end %>

 <%= link_to 'Show', user_path(@book.user.id) %>
<!--<#%= link_to 'Back', books_path %>-->

