<div class="row mb-5">
    <% if @book.errors.any? %>
    <div id="error_explanation">
        <h3><%= @book.errors.count %> errors prohibited this book from being saved:</h3>
        <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>

<div class="row">
    <div class="col-4">
        <div><%= render 'books/user_info', user: @user %></div>
        <div><%= render 'books/new_book', book: @book %></div>
    </div>

    <div class="col-8">

      <h1>Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Option</th>
                </tr>
            </thead>

            <tbody>
                <% @books.each do |book| %>
                <tr>
                    <td>
                        <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40' %>
                    </td>

                    <td><%= link_to book_view_path(book) do %>
                    <%= book.title %>
                    <% end %></td>

                    <td><%= book.body %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

  </div>
</div>

