<div class="col-4 mx-auto">
  <h1>Editing Book</h1>

  <%= form_with model:@book, url: book_update_path(@book), local:true do |f| %>

    <div class="mt-5"><label for="inputTitle">Title</label></div>
    <%= f.text_field :title, id:"inputTitle", class:"w-100", placeholder:"本のタイトル"%>


    <div class="mt-5"><label for="inputBody">Opinion</label></div>
    <%= f.text_area :body, id:"inputBody", class:"w-100 mb-4", placeholder:"本の感想"%>


    <div>
      <%= f.submit "Edit Book", class: "btn btn-success mb-4"  %>
    </div>

  <% end %>

  <%= link_to 'Show', book_view_path(@book) %> |
  <%= link_to 'Back', user_path(@book.user) %>

</div>