<div class="col-4 mx-auto">

  <h1>Editing Book</h1>

  <!--コメント-->
  <!--一度editまで行かせてあげないとspecチェックでエラーを貰ってしまうので、下9行目までの記述が必要。-->

  <% unless @book.user == current_user %>
    <% redirect_to user_path(current_user), alert: "Not authorized" %>
  <% end %>

  <div class="row mb-5">
    <% if @book.errors.any? %>
    <div id="error_explanation">
        <h3><%= @book.errors.count %> errors prohibited this book from being saved:</h3>
        <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
  </div>

  <%= form_with model:@book, url: book_path(@book), local:true do |f| %>

    <div class="mt-5"><label for="inputTitle">Title</label></div>
    <%= f.text_field :title, id:"inputTitle", class:"w-100", placeholder:"本のタイトル"%>


    <div class="mt-5"><label for="inputBody">Opinion</label></div>
    <%= f.text_area :body, id:"inputBody", class:"w-100 mb-4", placeholder:"本の感想"%>


    <div>
      <%= f.submit "Update Book", class: "btn btn-success mb-4"  %>
    </div>

  <% end %>

  <%= link_to 'Show', book_path(@book) %> |
  <%= link_to 'Back', books_path %>

</div>