<h1>ユーザー詳細ページ</h1>
<%= render 'books/user_info', user: @user %>
<%= render 'books/new_book', book: @book %>

<% @books.each do |book| %>
    <div><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%></div>
    <div><%= book.user.name %></div>
    <div><%= book.title %></div>
    <div><%= book.body %></div>

        <!--<#%= link_to 'edit', edit_book_path(book) %>-->
        <!--<#%= link_to "destroy", book_path(book), method: :delete, data: { confirm: '本当に削除しますか？' }  %>-->
      </tr>

      <% end %>