<div class="row">
    <div class="col-4">
        <div><%= render 'books/user_info', user: @user %></div>
        <div><%= render 'books/new_book', book: @book %></div>
    </div>

    <div class="col-8">

        <h1>Books</h1>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Option</th>
                </tr>
            </thead>

            <tbody>
                <% @books.each do |book| %>
                <tr>
                    <td>
                        <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%></div>
                    </td>

                    <td><%= link_to book_view_path(book) do %>
                    <%= book.title %>
                    <% end %></td>

                    <td><%= book.body %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

    </div>
</div>

<!--テスト-->
<!--<#%= link_to 'このユーザーを削除する', user_delete_path(@user), method: :delete %>-->