<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--yukikome => 全体(body内以外)のhtmlの記述が出来るファイル-->

  <body>

    <div>
    <li>
        <%= link_to "Bookers", root_path %>
    </li>
    </div>

    <% if user_signed_in? %>
    <!--yukikome => ログイン中ならば-->
      <li>
        <%= link_to "Home", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "User", users_path %>
      </li>
      <li>
        <%= link_to "Books",books_path %>
      </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <!--yukikome => method: :deleteでdestroy_user_session_pathへルーティング-->
        <!--させることでログアウトしてくれる-->
        <!--また、ログアウト後はトップページ(ルートページ？)に遷移してくれる-->
      </li>
    <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </body>
</html>
